<?xml version="1.0" encoding="UTF-8"?>  
<configuration>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<file>/${loggingRoot}/${loggingName}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${loggingRoot}/logs/${loggingName}.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss} [%thread]) %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>   
		</encoder>
	</appender>
	<!-- project default level -->
	<logger name="com.zhang" level="${loggingLevel}" />
	<root level="${loggingLevel}">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>